@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

.btn-container {
    display: flex;
    font-family: 'Mohave', sans-serif;

}

.btn__start {
    display: flex;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 145px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 200px;
    height: 70.px;
    font-size: 22px;
    text-align: justify;
}

.btn__start:hover {
    color: black;
}

.btn__start p {
    margin: auto;
}


.icon {
    display: flex;
    margin-left: auto;
}